button a {
  color: rgb(255, 255, 255) !important;
}
a.active {
  border: 1px solid rgb(0, 0, 0) !important;
  background-color: #686868a8 !important;
  text-decoration: none !important;
  color: white !important;
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar  a {
  color: #111 !important;
  text-decoration: none;
  cursor: pointer;
  outline: none !important;
  transition: 0.2s;
}
th.title,
td.title {
  text-align: left;
  width: 80%;
}
