button a {
  color: rgb(255, 255, 255) !important;
}
a.active {
  border-bottom: 1px solid rgb(243, 243, 243) !important;
  background-color: rgba(104, 104, 104, 0.336) !important;

  text-decoration: none !important;
  color: white !important;
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar  a {
  color: #ffffff !important;
  text-decoration: none;
  cursor: pointer;
  outline: none !important;
  transition: 0.2s;
  padding: 5px;
}
th.title,
td.title {
  text-align: left;
  width: 80%;
}
